<div>
    <div class="panel">
        <div class="panel-heading">
            <h3>连接管理</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-2">
                    <a class="btn btn-primary" [routerLink]="['/index/system/dbs/add',0]" >新建连接</a>
                </div>
            </div>
            <table id="example" class="table table-hover datatable panel" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="col-md-4">连接名称</th>
                    <th class="col-md-4">连接类型</th>
                    <th class="col-md-4">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let db of dbList" >
                    <td><a class="btn-link" [routerLink]="['/index/system/dbs/view',db.name]">{{db.name}}</a></td>
                    <td>{{db.dbtype}}</td>
                    <td>
                        <a type="button" class="btn btn-link" [routerLink]="['/index/system/dbs/update',db.name]">修改</a>
                        <a type="button" class="btn btn-link" *ngIf="db.name!='system'&&db.name!='form'" (click)="deleteDB(db.name)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>